@font-face{
    font-family: "Hack";
    src: url('../fonts/Hack-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.clear {
    clear: both;
}

body {
    font-family: "Hack", Arial, sans-serif;
    width: 1100px;
    margin: auto;
    background-color: rgba(2, 8, 8, .8);
    color: #ffffff;
}
ul, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
h1 {
    font-family: "Hack", sans-serif;
    text-align: center;
    margin: 30px 0px;
    color: #ffffff;
}
h1 > a {
    text-decoration: none;
    color: #ffffff;
}
h2, h3, p {
    padding: 10px;
}
aside, section {
    float: left;
}
aside {
    min-height: 500px;
    width: 25%;
}

aside > h3 {
    border: 1px solid #282828;
    margin-bottom: 8px;
}
main {
    margin-left: 300px;
}
.post-item {
    margin: 10px 0;
}
.post-item:hover {
    cursor: pointer;
}
.timestamp {
    text-align: right;
    font-style: italic;
}
#menu > li > a {
    display: block;
    padding: 10px;
    color: #888888;
}
#menu > li > a:hover {
    color: #fff;
    text-decoration: none;
}

footer {
    position: fixed;
    width: 1100px;
    bottom: 0;
    padding: 20px;
}
footer p {
    text-align: center;
}
