.container {
	width: 940px;
	margin: 0 auto;
}
/*Header*/
#header {
	position: absolute;
	top: 20px;
	left: 0;
	right: 0;
	padding-top: 20px;
}
.nav {

}
.nav li {
	float: left;
	margin-right: 40px;
}
.nav li:last-child {margin-right: 0;}
.nav li a {
	text-transform: uppercase;
	font: 14px/14px Arial, sans-serif;
	color: #fff;
}
.nav li a:hover {color: #fed136;}
/*Home*/
#home {
	width: 100%;
	height: 700px;
	padding-top: 270px;
	background: #222 url(../img/home-bg.jpg) no-repeat center top;
	-webkit-background-size: cover;
	background-size: cover;
	color: #fff;
	text-align: center;
}
#home h3 {
	margin-bottom: 40px;
	font: 40px/40px Arial, sans-serif;
}
#home h1 {
	margin-bottom: 50px;
	text-transform: uppercase;
	font: 75px/75px Arial, sans-serif;
}
.btn {
	padding: 20px 30px;
	text-transform: uppercase;
	font: bold 24px/25px Arial, sans-serif;
	background-color: #fed136;
	color: #fff;
	border: none;
	border-radius: 4px;
}
.btn:hover {
	background-color: #fbdb6b;
	color: #fff;
}
/*Services*/
#services {
	text-align: center;
}
#services,
#portfolio,
#about,
#team {
	padding: 120px 0;
}
h2.title {
	margin-bottom: 20px;
	text-transform: uppercase;
	font: bold 40px/40px Arial, sans-serif;
	color: #222;
}
.descr {
	font-size: 16px;
	color: #777777;
}
#services-wrap,
#portfolio-wrap,
#about-wrap,
#team-wrap,
#message {
	padding-top: 70px;
}
.service-item {
	float: left;
	width: 31%;
	margin-right: 3%;
}
.service-item:last-child {
	margin-right: 0;
}
.service-item h5 {
	padding-top: 90px;
	font: 18px/18px Arial, sans-serif;
	color: #222;
}
.service-item p {
	padding-top: 10px;
	font-size: 18px;
	line-height: 24px;
	color: #777777;
}
.commerce {
	background: url(../img/commerce.png) no-repeat top center;
}
.responsive {
	background: url(../img/responsive.png) no-repeat top center;
}
.security {
	background: url(../img/security.png) no-repeat top center;
}
/*Portfolio*/
#portfolio {
	background-color: #f7f7f7;
	text-align: center;
}
.portfolio-item {
	float: left;
	width: 31%;
	margin-right: 3.5%;
	margin-bottom: 70px;
	background: #fff;
}
.portfolio-item:nth-child(3n) {
	margin-right: 0;
}
.p-item-footer h5 {
	padding-top: 20px;
	font: bold 18px/18px Arial, sans-serif;
	color: #333333;
}
.p-item-footer span {
	display: inline-block;
	padding-top: 5px;
	padding-bottom: 20px;
	font-size: 14px;
	color: #737373;
}
/*About*/
#about {
	text-align: center;
}
.about-item {
	width: 100%;
	margin-bottom: 90px;
}
.about-item:nth-child(5) {
	margin: -2px auto;
}
.about-i-text {
	width: 33.33%;
}
.about-i-text h5 .up {
	display: inline-block;
	padding-bottom: 5px;
	text-transform: uppercase;
}
.about-i-text h5 {
	margin-bottom: 10px;
	font: bold 18px/18px Arial, sans-serif;
	color: #222;
}
.about-i-text p {
	font-size: 16px;
	line-height: 24px;
	color: #777777;
}
.about-i-img {
	margin: 0 7.55%;
	position: relative;
}
.about-i-img:after {
	position: absolute;
	top: 98%;
	left: 50%;
	content: " ";
	padding-top: 3px;
	width: 4px;
	height: 90px;
	background: #cccaaa;
	color: #ccc;
}
.about-i-img img {
	width: 170px;
	height: 170px;
	border-radius: 50%;
	border: 4px solid #f1f1f1;
	box-shadow: -2px -20px 100px #333333;
}
.about-i-img-a {
	display: inline-block;
	z-index: 4353;
	background: #fed136;
	margin: 0 7.55%;
	position: static;
	width: 170px;
	height: 170px;
	border-radius: 50%;
	border: 4px solid #f1f1f1;
	box-shadow: -2px -20px 100px #333333;
}
.about-i-img-a a {
	padding-top: 25px;
	display: inline-block;
	text-transform: uppercase;
	font: bold 18px/27px Arial, sans-serif;
	color: #fff;
}
#team {
	text-align: center;
}
.team-item {
	width: 33.33%;
	margin-bottom: 50px;
}
.team-item:last-child {
	margin-right: 0;
}
.team-item h5 {
	padding-top: 15px;
	font: bold 16px/24px Arial, sans-serif;
	color: #222222;
}
.team-item span.cat {
	font: 14px/14px Arial, sans-serif;
	color: #777777;
}
.social {padding-top: 12px;}
.social a {
	display: inline-block;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background: url(../img/social-sprite.png) no-repeat;
}
.social a.black {background-color: #222;}
.social a.ic-tw {background-position: 0 0;}
/*hover*/
.social a.ic-tw:hover {
	background-color: #00aced;
	background-position: 0 -76px;
}
.social a.ic-tw.black {background-position: 0 -76px;}

.social a.ic-fb {background-position: -43px 0;}
/*hover*/
.social a.ic-fb:hover {
	background-color: #3b5998;
	background-position: -45px -77px;
}
.social a.ic-fb.black {background-position: -45px -77px;}

.social a.ic-pn {background-position: -86px 0;}
/*hover*/
.social a.ic-pn:hover {
	background-color: #cb2028;
	background-position: -86px -77px;
}
.social a.ic-pn.black {background-position: -86px -77px;}

.social a.ic-gp {background-position: -129px 0;}
/*hover*/
.social a.ic-gp:hover {
	background-color: #d95232;
	background-position: -129px -77px;
}
.social a.ic-gp.black {background-position: -129px -77px;}

#team-wrap .tex {
	margin: 0 auto;
	width: 52%;
	font-size: 16px;
	color: #777777;
	text-align: center;
}
#brands {
	margin: 60px 0;
	text-align: center;
}
#brands a {
	display: inline-block;
	margin-right: 40px;
}
#brands a:last-child {
	margin-right: 0;
}
#brands img {
	vertical-align: middle;
}
#contacts {
	padding: 110px 0;
	background-color: #222222;
	text-align: center;
}
#contacts .white {
	color: #ffffff;
}
#message .left,
#message .right {
	width: 48%;
}
#message input[type="text"],
#message textarea {
	width: 100%;
	font: bold 14px/14px Arial, sans-serif;
	color: #bbbbbb;
	padding: 15px 20px;
	margin-bottom: 30px;
	background: #fff;
	box-shadow: none;
	border-radius: 4px;
}
#message input[type="text"] {
	height: 50px;
	border: 1px solid #ccc;
}
#message textarea {
	height: 210px;
	border: none;
	resize: none;
}
::-webkit-input-placeholder {
	text-transform: uppercase;;
	font: bold 14px/14px Arial, sans-serif;
	color: #bbb;
}
#copyright {
	margin: 0;
	padding: 25px 0;
}
#copyright p {
	font: 14px/40px Arial, sans-serif;
	color: #555;
	vertical-align: center;
}
#copyright .social {
	padding: 0;
	margin-left: 143px;
}
#copyright .author span {
	text-transform: uppercase;
	font: bold 17px/40px Arial, sans-serif;
	color: #777777;
}