@font-face {
	font-family: "Digital";
	src:url(../fonts/digital-7.regular.ttf) format('truetype');
}

@font-face {
	font-family: "Digital Italic";
	src:url(../fonts/digital-7.italic.ttf) format('truetype');
}
